*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f3f3f3;
    font-family:Arial, sans-serif;
}

/* Top Bar */
.topbar{
    width:100%;
    height:55px;
    background:linear-gradient(to right,#14c6e7,#7b2ff7);
    color:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 20px;
}
.start{
    border: 2px solid #ffffff;
    border-radius: 6px;
    padding: 6px px;

}
.spider{
    border: 2px solid #ffffff;
    border-radius: 6px;
    padding: 6px 8px;
}
.chat{
    border: 2px solid #ffffff;
    border-radius: 6px;
    padding: 6px px;

}
.left-nav span{
    margin-right:15px;
    cursor:pointer;
}
.present{
    border: #000;
}
/* Layout */
.main-layout{
    display:flex;
    height:calc(100vh - 55px);
}

/* Sidebar */
.sidebar{
    width:80px;
    background:#fff;
    border-right:1px solid #ddd;
    padding-top:20px;
}

.menu-item{
    text-align:center;
    margin-bottom:25px;
    font-size:12px;
}

.menu-item i{
    display:block;
    font-size:22px;
    margin-bottom:5px;
}

/* Left Panel */
.left-panel{

    width:320px;
    background:#fafafa;
    border-right:1px solid #ddd;
    padding:15px;
}

.search-box input{
    width:100%;
    padding:10px;
    border:1px solid #ddd;
    border-radius:8px;
    margin-bottom:15px;
}

.template-grid{
    overflow-y: scroll;
  scroll-behavior: smooth;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
}

.card-box{
    height:100px;
    background:#ddd;
    border-radius:8px;
}
.card-box img{
    width:150px;
    height:100px
}

/* Workspace */
.workspace{
    overflow-y: scroll;
  scroll-behavior: smooth;
    flex:1;
    padding:15px;
}

.toolbar{
    background:#fff;
    width:max-content;
    margin:auto;
    padding:8px 15px;
    border-radius:25px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.toolbar button{
    border:none;
    background:none;
    margin:0 8px;
}

/* Canvas */
.canvas{
    background:#fff;
    margin-top:20px;
    padding:35px;
    border-radius:10px;
}

/* Circle */
.circle{
    width:130px;
    height:130px;
    background:#b8f163;
    border-radius:50%;
}

/* Square */
.square{
    width:130px;
    height:130px;
    background:#efd75c;
}

/* Triangle */
.triangle{
    width:0;
    height:0;
    border-left:65px solid transparent;
    border-right:65px solid transparent;
    border-bottom:130px solid #ff731e;
}

/* Pentagon */
.pentagon{
    width:130px;
    height:130px;
    background:#2500bb;
    clip-path:polygon(
        50% 0%,
        100% 38%,
        82% 100%,
        18% 100%,
        0% 38%
    );
}

/* Plus */
.plus{
    width:100px;
    height:100px;
    position:relative;
}

.plus::before{
    content:"";
    position:absolute;
    width:35px;
    height:100px;
    background:#000;
    left: 32px
}

.plus::after{
    content:"";
    position:absolute;
    width:100px;
    height:35px;
    background:#000;
    top:32px;
}

/* Parallelogram */
.parallelogram{
    width:130px;
    height:110px;
    background:#b965e5;
    transform:skew(20deg);
}

/* Arrow */
.arrow{
    width:65px;
    height:65px;
    background:#8a57f6;
    position:relative;
    margin-top:60px;
}

.arrow::before{
    content:"";
    position:absolute;
    left:-32px;
    top:-65px;
    border-left:65px solid transparent;
    border-right:65px solid transparent;
    border-bottom:65px solid #8a57f6;
}

/* Heart */
.heart{
    width:90px;
    height:90px;
    background:red;
    transform:rotate(-45deg);
    position:relative;
    margin-top:30px;
}

.heart::before,
.heart::after{
    content:"";
    position:absolute;
    width:90px;
    height:90px;
    background:red;
    border-radius:50%;
}

.heart::before{
    top:-45px;
    left:0;
}

.heart::after{
    top:0;
    left:45px;
}

.footer{
    width:50vh;
    background:#14c6e7;
}