*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f7f7f7;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:1200px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}



.slider{
    position:relative;
    width:500px;
    height:600px;
}

.img-box{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    border-radius:20px;
    overflow:hidden;
    transition:0.5s;
}

.img-box img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* Active Image */
.active{
    width:500px;
    height:280px;
    top:160px;
    z-index:10;
    box-shadow:0 10px 30px rgba(0,0,0,.3);
}

/* Top Images */
.top{
    width:280px;
    height:140px;
    top:0;
    opacity:.4;
}

.top2{
    width:350px;
    height:170px;
    top:70px;
    opacity:.6;
}

/* Bottom Images */
.bottom1{
    width:350px;
    height:170px;
    top:380px;
    opacity:.6;
}

.bottom2{
    width:280px;
    height:140px;
    top:500px;
    opacity:.4;
}
.img-box:hover{
    transform:translateX(-50%) scale(1.05);
}



.content{
    width:450px;
    text-align:center;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:80px;
    margin-bottom:60px;
}

.buttons button{
    width:50px;
    height:50px;
    border-radius:50%;
    border:3px solid #2b63d9;
    background:#2b63d9;
    color:white;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}
.content h1{
    color:#0b3b97;
    font-size:55px;
    font-weight:bold;
}

.line{
    width:420px;
    height:3px;
    background:#24489b;
    margin:12px auto;
}

.content h3{
    letter-spacing:5px;
    color:#999;
    font-weight:400;
    margin-top:-10px;
}

.dots{
    margin-top:80px;
}

.dots span{
    width:14px;
    height:14px;
    background:#d8dceb;
    display:inline-block;
    border-radius:50%;
    margin:0 6px;
}

.active-dot{
    background:#123fa3 !important;
}
